<div>
    <h1>GitHub Search</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Input Info</h3>
            <form class="form-group">
                <input type="search" class="form-control" placeholder="Input your username" [(ngModel)]="username" name="username">
                <br><br>
                <button class="btn btn-primary">Search</button>
            </form>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-head">
                    <h3>Users Profile</h3>
                </div>

                <div class="card-body">
                    <div *ngIf="searchUsers">
                        <div>
                            <img src="{{user.avatar_url}}" alt="profile">
                        </div>
                        <br>
                        <div>
                            <a href="{{user.html_url}}" target="_blank"><button class="btn btn-success">Go To Profile</button></a>
                            <br>
                        </div>

                        <div>
                            <div class="row">

                                <h4>{{user.name}}</h4>
                                <div class="col-sm-4">
                                    <p class="btn btn-warning">Follwers:<br><span>{{user.followers}}</span></p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="btn btn-danger">Following:<br><span>{{user.following}}</span></p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="btn btn-info">Repositories:<br><span>{{user.public_repos}}</span></p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div *ngIf="!searchUsers">
                    <div class="container repo-row">
                        <div *ngFor="let rep of repo" class="card">
                            <a href="{{rep.html_url}}" target="_blank">
                                <h3>{{rep.name}}</h3>
                                <p>{{rep.description}}</p>
                                <!-- <p>{{rep.created_at |dateCount}}</p> -->
                            </a>

                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</div>