<div class="container">
    <h1 class="text-center">Github Search</h1>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">

                <form action="">
                    <input type="search" class="form-control" placeholder="Search user name">
                    <br>
                    <button class="btn btn-primary">Search</button>
                </form>
                <br>
                <h3>Profile:</h3>
            </div>
        </div>
    </div>


</div>